.nav a {
    color: #5a5a5a;
    font-size: 11px;
    font-weight: bold;
    padding: 14px 10px;
    text-transform: uppercase;
}

.nav li {
    display: inline;
}

.jumbotron {
    background-image: url('http://fc06.deviantart.net/fs70/i/2014/053/6/5/jabbawockeez_by_freddyorsini-d77ja6y.jpg');
    height: 280px;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.jumbotron .container {
    position: relative;
    top: 100px;
}

.jumbotron h1 {
    color: #fff;
    font-size: 48px;
    font-family: 'Shift', sans-serif;
    font-weight: bold;
}

.jumbotron p {
    font-size: 20px;
    color: #fff;
}

.learn-more {
    background-color: #f7f7f7;
}

.learn-more h3 {
    font-family: 'Shift', sans-serif;
    font-size: 18px;
    font-weight: bold;
}

.learn-more a {
    color: #00b0ff;
}

.neighborhood-guides {
    background-color: #efefef;
    border-bottom: 1px solid #dbdbdb;
}

.neighborhood-guides h2 {
    color: #393c3d;
    font-size: 24px;
}

.neighborhood-guides p {
    font-size: 15px;
    margin-bottom: 13px;
}

.lft {
    position: relative;
    float: left;
    border-style: inset;
    border-color: green;
    margin-left: 3%;
    margin-bottom: 3%;
    padding-left: 1%;
    padding-right: 1%;
    -webkit-transition: top 1s ease-out 1.5s;
    top: -75px;
    color: #fff;
    background: #333;
    transition: top 0.1s linear 0.5s;
}

.lft:hover {
    /* Точка поворота в правом верхнем углу */
    /*-webkit-transform-origin: 100% 0;
    -moz-transform-origin: 100% 0;
    -o-transform-origin: 100% 0;
    -ms-transform-origin: 100% 0;
    transform-origin: 100% 0;
    /* Поворачиваем на 20 градусов против часовой стрелки */
    /*-webkit-transform: rotate(-200deg);
    -moz-transform: rotate(-20deg);
    -o-transform: rotate(-20deg);
    -ms-transform: rotate(-20deg);
    transform: rotate(230deg);*/
    top: 0;
}
 