@charset "utf-8";

/*
* Globals
*/

/* Links */
a,
a:focus,
a:hover {
    color: #fff;
}

/* Custom default button */
.btn-default,
.btn-default:hover,
.btn-default:focus {
    color: #333;
    text-shadow: none; /* Prevent inheritence from `body` */
    background-color: #fff;
    border: 1px solid #fff;
}

/*
 * Base structure
 */

html,
body {
    height: 100%;
    background-color: #333;
}

body {
    color: #fff;
    text-align: left;
    text-shadow: 0 1px 3px rgba(0, 0, 0, .5);
    margin: 30px auto;
    background: #333;
    padding: 0px 25px 25px 25px;
}

/* Extra markup and styles for table-esque vertical and horizontal centering */
.wrapper {
    display: table;
    width: 100%;
    height: 100%; /* For at least Firefox */
    min-height: 100%;
    -webkit-box-shadow: inset 0 0 100px rgba(0, 0, 0, .5);
    box-shadow: inset 0 0 100px rgba(0, 0, 0, .5);
}

.wrapper-inner {
    display: table-cell;
    vertical-align: top;
}

.cover-container {
    margin-right: auto;
    margin-left: auto;
}

/* Padding for spacing */
.inner {
    padding: 30px;
}

/*
 * Header
 */
.masthead-brand {
    margin-top: 10px;
    margin-bottom: 10px;
}

.masthead-nav > li {
    display: inline-block;
}

.masthead-nav > li + li {
    margin-left: 20px;
}

.masthead-nav > li > a {
    padding-right: 0;
    padding-left: 0;
    font-size: 16px;
    font-weight: bold;
    color: #fff; /* IE8 proofing */
    color: rgba(255, 255, 255, .75);
    border-bottom: 2px solid transparent;
}

.masthead-nav > li > a:hover,
.masthead-nav > li > a:focus {
    background-color: transparent;
    border-bottom-color: #a9a9a9;
    border-bottom-color: rgba(255, 255, 255, .25);
}

.masthead-nav > .active > a,
.masthead-nav > .active > a:hover,
.masthead-nav > .active > a:focus {
    color: #fff;
    border-bottom-color: #fff;
}

@media (min-width: 768px) {
    .masthead-brand {
        float: left;
    }

    .masthead-nav {
        float: right;
    }
}

/*
 * Cover
 */

.cover {
    padding: 0 20px;
}

.cover .btn-lg {
    padding: 10px 20px;
    font-weight: bold;
}

/*
 * Footer
 */

.mastfoot {
    color: #999; /* IE8 proofing */
    color: rgba(255, 255, 255, .5);
}

/*
 * Affix and center
 */

@media (min-width: 768px) {
    /* Pull out the header and footer */
    .masthead {

        top: 0;
    }

    .mastfoot {

        bottom: 0;
    }

    /* Start the vertical centering */
    .wrapper-inner {
        vertical-align: middle;
    }

    /* Handle the widths */
    .masthead,
    .mastfoot,
    .cover-container {
        width: 100%; /* Must be percentage or pixels for horizontal alignment */
    }
}

@media (min-width: 992px) {
    .masthead,
    .mastfoot,
    .cover-container {
        width: 700px;
    }
}

h1 {
    text-transform: uppercase;
    text-align: center;
    margin: 0;
    padding: 0.3em 0;
    text-indent: -99999px;
}

#nav {
    list-style: none;
    padding: 0;
    margin: 10px 0 20px 0;
    background: #2e2e2e /*url(images/nav_bar.jpg) repeat-x*/;
    display: block;
    overflow: hidden;
    font-size: 0.9em;
    text-transform: capitalize;
}

.nav .active li {
    color: white;
    background: #0088CC;
}

#nav li {
    display: inline;
}

#nav li a {
    display: block;
    float: left;
    padding: 10px 20px;
    color: white;
    text-decoration: none;
}

#nav li a:hover {
    background: #1b1b1b;
}

#load {
    display: none;

    right: 10px;
    top: 10px;
    width: 43px;
    height: 11px;
    text-indent: -9999em;
}

#content {
    width: 100%;
}

h2 {
    margin: 0;
    padding: 0.5em 0;
    color: #568945;
    font-family: Helvetica, "Times New Roman", "serif";
}

p {
    margin: 0;
    padding: 0.4em 0;
    color: #686868;
    line-height: 1.4em;
}

#content img.right {
    float: right;
    margin: 0 0 8px 8px;

}

#foot {
    padding: 15px;
    color: white;
    text-align: center;
    margin: 30px 0 0 0;
    border-top: 1px solid #222222;
}

.tittle-nav {
    font-family: "Times New Roman", "serif";
    font-size: 27px;
    line-height: 1.4;
    width: 180px;
    margin: 0;
    padding: 0;
    list-style: none;
    border: none;
    background: none;
}

.tittle-nav a {
    display: block;
    padding: 8px 14px;
    color: white;
    margin: 0px 0px -1px 0px;
    text-decoration: none
}