.graph,
.g-bargroup,
.g-bar-nest,
.g-bar {
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}

.g-bargroup,
.g-bar-nest,
.g-scale-v ul,
.g-scale-v ul li,
.g-scale-h ul {
    display: -webkit-flex;
    display: -moz-flex;
    display: flex;
}

.g-bar-nest,
.g-bar,
.g-scale-v ul li,
.g-scale-h ul li {
    -webkit-box-flex: 1;
    -moz-box-flex: 1;
    box-flex: 1;
    -webkit-flex: 1;
    -moz-flex: 1;
    flex: 1;
}

.g-bargroup,
.g-bar-nest,
.g-scale-v ul,
.g-scale-h ul {
    -webkit-justify-content: space-between;
    -moz-justify-content: space-between;
    justify-content: space-between;
}

.g-caption,
.g-bargroup,
.g-scale-h,
.g-vertical .g-bar-value,
.g-vertical .g-bar-cap {
    left: 0;
    right: 0;
}

.g-scale-v ul li {
    -webkit-align-items: center;
    -moz-align-items: center;
    align-items: center;
}

.graph ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.graph p {
    margin: 0;
}

.g-caption {
    position: absolute;
    bottom: 100%;
    text-align: center;
}

.graph {
    position: relative;
    border: 1px solid #fff;
    width: 545px;
    height: 300px;
    margin: 0 auto;
    background: rgba(211, 211, 211, .2);
    box-sizing: content-box;
}

.g-bargroup {
    position: absolute;
    bottom: 0;
    height: 100%;
    box-sizing: border-box;
    margin-bottom: -1px;
}

.g-bargroup,
.g-bar-nest {
    display: -webkit-box;
    -webkit-box-pack: justify;
    -webkit-box-align: end;
    -webkit-align-items: flex-end;
    -moz-align-items: flex-end;
    align-items: flex-end;
}

.g-bar-nest,
.g-bar {
    position: relative;
}

.g-nest-name {
    position: absolute;
    text-align: center;
    left: 0;
}

.g-scale-label {
    text-align: center;
}

.g-scale-v {
    position: absolute;
    top: 0;
    right: 100%;
    bottom: 0;
}

.g-scale-v ul {
    height: 100%;
    display: -webkit-box;
    -webkit-box-pack: justify;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -webkit-flex-direction: column-reverse;
    -moz-flex-direction: column-reverse;
    flex-direction: column-reverse;
    text-align: right;
    padding-right: 5px;
}

.g-scale-v ul li,
.g-scale-h ul li {
    position: relative;
}

.g-scale-v ul li {
    display: -webkit-box;
    -webkit-box-align: center;
    -webkit-box-pack: end;
    -webkit-justify-content: flex-end;
    -moz-justify-content: flex-end;
    justify-content: flex-end;
    height: 0;
    width: 100px;
}

.g-scale-v .g-scale-label {
    position: absolute;
    right: 100%;
    bottom: 100%;
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    transform: rotate(-90deg);
    -webkit-transform-origin: 100% 100%;
    -moz-transform-origin: 100% 100%;
    transform-origin: 100% 100%;
}

.g-scale-h {
    position: absolute;
    top: 100%;
}

.g-scale-h ul {
    width: 100%;
    display: -webkit-box;
    -webkit-box-pack: justify;
}

.g-scale-h ul li {
    text-align: center;
    width: 0;
}

.g-legend {
    position: absolute;
    top: 100%;
}

li.pass::after {
    content: '';
    width: 545px;
    position: absolute;
    left: 104px;
    top: 12px;
    border-top: 1px solid rgba(255, 255, 255, .25);
}

.g-bar {
    background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#e0e0e0));
    margin: 0 1%;
}
