.content-wrapper {
    width: 1024px;
    max-width: 90%;
    min-width: 10%;
    height: 512px;
    max-height: 90%;
    min-height: 10%;
    overflow: hidden;
    background: lightblue;
    /* border: 3px dotted yellow; */
    border-radius: 0 10px;
    border: 2px double darkred;
    position: fixed;
    top: 15%;
    left: 12%;
}

.cards-wrapper {
    display: -webkit-box;
    height: inherit;
    -webkit-transition-delay: 0.5s;
    -webkit-transition-duration: 0.5s;
    /*border: 3px dotted white;*/
}

.card {
    width: 1024px;
    height: inherit;
    display: -webkit-box;
    -webkit-box-align: center;
    -webkit-box-pack: center;
    background: white;
    /* padding-left: 10px;*/
}

.ots {
    padding: 20px 20px 20px 90px;

}

body {
    background: slategrey;
    /* border: 3px dotted darkblue;*/
}

.btn1 {
    position: fixed;
    /* border: 3px dotted;
     margin: 20px; */
    padding: 2px;
    background-position: center;
    bottom: 5%;
    left: 18%;
    border-radius: 0 10px;
}

.btn2 {
    position: fixed;
    padding: 2px;
    background-position: center;
    right: 15%;
    bottom: 5%;
    border-radius: 0 10px;
}

button {
    width: 150px;
    height: 40px;
}

progress {
    font-size: .6em;
    line-height: 1.5em;
    text-indent: .5em;
    width: 500px;
    height: 1.8em;
    border: 1px double #0063a6;
    background: #fff;
}

progress::-webkit-progress-bar {
    background: #fff;
}

progress::-webkit-progress-value {
    background: darkred;
}

.prog {
    position: fixed;
    left: 32%;
}

.card:first-of-type .prog {
    position: absolute;
    left: 170px;
}

.right-info {
    width: 410px;
    max-width: 60%;
    height: 400px;
    max-height: 70%;
    background-color: lightblue;
    position: fixed;
    top: 20%;
    right: 30%;
    border-radius: 20px 10px 0;
    padding: 10px 15px 10px 10px;
}

.side {
    position: absolute;
    top: 91%;
}

.line {
    display: inline;
}

.form-control {
    width: 30%;
}

.move {
    position: fixed;
    right: -1%;
    top: 36%;
    text-align: left;
    padding: 1%;
}

.bttn {
    position: absolute;
    right: 49.5%;
    top: 74%;
    padding: 1%;
}

.btn3 {
    position: absolute;
    right: 76%;
}

/*88888888*/
/* скрываем чекбоксы и блоки с содержанием */
.hide, .hide + label ~ div {
    display: none;
}

/* вид текста label */
.hide + label,
.hide:checked + label {
    border-bottom: 1px dotted darkred;
    padding: 0;
    cursor: pointer;
}

/* вид текста label активном переключателе */
.hide:checked + label {
    color: red;
    border-bottom: 0;
}

/* когда чекбокс активен показываем блоки с содержанием  */
.hide:checked + label + div {
    display: block;
    background: #efefef;
    -moz-box-shadow: inset 3px 3px 10px #7d8e8f;
    -webkit-box-shadow: inset 3px 3px 10px #7d8e8f;
    box-shadow: inset 3px 3px 10px #7d8e8f;
    padding: 10px;
}

/* demo контейнер */
.demo {

}