
<div class="jumbotron container">

    <form method="post" action="login.php" class="form-signin" role="form">
        <input type="email" class="form-control" name="e_email" placeholder="| mail@ukr.net" required value=""/> <br>
        <input type="password" class="form-control" name="e_password" placeholder="| Введіть пароль" required /> <br>
        <input type="submit" class="btn3 buttton btn btn-lg btn-primary" name="enter" value="Вхід" />
    </form>
</div>